* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* For Testing Purposes */
.col {
  text-align: center;
}

#aboutImage {
  justify-content: center;
  align-content: center;
}

#JRSlogan {
  text-align: right;
}

#socialMedia {
  text-align: center;
}

#backToTop {
  text-align: left;
}
/* For Testing Purposes */

.nav-item {
  text-align: center;
}

#topCarousel {
  margin-top: 60px;
}
