* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* To Move Body Below Navbar */
body {
  padding-top: 3.7rem;
  position: relative;
}

.col {
  text-align: center;
  margin: 25px;
}

h1 {
  font-family: "Lato", sans-serif;
  margin: 10px;
  padding: 35px;
  font-size: 50px;
}

/* To Move Anchor Links Below Navbar */

#home,
#about,
#media,
#events,
#contact,
#backToTop {
  scroll-margin-top: 3.7rem;
}

.nav-item {
  text-align: center;
}

.carousel-inner > .carousel-item > img {
  max-height: 63vh;
  object-fit: cover;
}

.topShadow {
  -webkit-box-shadow: inset 0px 15px 5px -3px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: inset 0px 15px 5px -3px rgba(50, 50, 50, 0.75);
  box-shadow: inset 0px 15px 5px -3px rgba(50, 50, 50, 0.75);
}

/* Carousel Styling */
#carouselText {
  background: rgba(0, 0, 0, 0.7);
}
/* About Styling */

#about {
  background-color: #fff;
}

.aboutText,
.mediaText,
.eventText {
  margin: 15px;
  padding: 35px;
}

.contactText {
  margin: 15px;
}

#aboutImage {
  background-image: url("../img/about_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50%;
  background-position: center;
  border-radius: 10%;
  border-width: 2px;
  border-style: solid;
}

.aboutText {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10%;
  font-family: "Roboto", sans-serif;
}

.whoWeAre {
  border-right: 2px solid;
}

.whatWeDo {
  border-left: 2px solid;
}
/* Media Styling */

.singleContainer,
.albumContainer {
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 2%;
  padding-bottom: 10px;
}

.singleCover {
  max-height: 100%;
  max-width: 75%;
  width: auto;
  height: auto;
  margin: 5%;
}

.albumCover {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  margin: 5%;
}

.mediaText {
  background: rgba(255, 255, 255, 0.7);
}

/* Event Styling */

.eventText {
  background: rgba(255, 255, 255, 0.7);
}

h4,
h5 {
  text-align: center;
}

/* Contact Styling */

#contactForm {
  width: 50%;
  margin: 0 auto;
}

#formButtons {
  width: 35%;
  margin: 0 auto;
}

/* Footer Styling */

#footerRow a,
#footerRow {
  color: #fafafa;
  text-decoration: none;
  font-weight: bold;
  align-content: center;
}

.fab {
  font-size: 40px;
  margin: 0 5px 0 5px;
}

#backToTop {
  text-align: left;
}

#JRSlogan {
  text-align: right;
}

#socialMedia {
  text-align: center;
}

/* For Testing Purposes */

#media {
  background-color: #312d2dda;
}

#events {
  background-image: url("../img/event_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

#contact {
  background-color: white;
}

/* For Testing Purposes */
